<div class="w-full min-h-[100vh] pt-24 flex flex-col items-center bg-cover bg-top pb-24" style="background-image: url('<%= asset_path("sky.jpg") %>')">
  <div class="max-w-xl w-full mx-auto shadow-lg bg-gray-200 rounded-lg py-8">
    <h2 class="text-xl mb-4 text-center">Εγγραφή</h2>

    <div class="w-3/4 mx-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field mb-4">
          <%= f.label :email, class: "mb-2 text-lg" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-lg bg-gray-50" %>
        </div>

        <div class="field mb-4">
          <%= f.label :username %><br />
          <%= f.text_field :username, class: "w-full rounded-lg bg-gray-50" %>
        </div>

        <div class="field mb-4">
          <%= f.label :password, "Κωδικός", class: "mb-2 text-lg" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> τουλάχιστον χαρακτήρες)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "w-full rounded-lg bg-gray-50" %>
        </div>

        <div class="field mb-4">
          <%= f.label :password_confirmation, "Επιβεβαίωση κωδικού", class: "mb-2 text-lg" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full rounded-lg bg-gray-50" %>
        </div>

        <div class="actions items-center text-center">
          <%= f.submit "Εγγραφή", class: "bg-black bg-opacity-70 text-white p-4 rounded-lg w-48 text-center hover:bg-opacity-90 transition duration-200" %>
        </div>
      <% end %>

      <div class="flex flex-col items-center mt-4 gap-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>