<div class="w-full bg-slate-900 h-16 sticky top-0 z-[999] px-4">
  <div class="max-w-7xl w-full h-full mx-auto flex items-center justify-between">
    <%= link_to t('menu.home'), root_path(locale: I18n.locale), class: "text-xl bg-slate-900 text-gray-100" %>
    <% if current_user %>
      <div class="relative" data-controller="dropdown" data-action="click@window->dropdown#closeUnlessDropdown">
        <!-- Show "Me" instead of the username -->
        <p class="text-xl text-gray-100" data-action="click->dropdown#toggle">Me</p>
        
        <!-- Dropdown Menu -->
        <div class="absolute flex flex-col items-center top-10 right-0 w-56 bg-gray-200 rounded-lg p-4 text-center text-sm hidden" data-dropdown-target="menu">
          <!-- Username at the top of the dropdown -->
          <p class="text-gray-800 font-bold mb-2"><%= current_user.username %></p>
          <hr class="w-full border-t border-gray-300 mb-2">
          
          <!-- Edit Account Link -->
          <%= link_to t('menu.edit_account'), edit_user_registration_path, class: "text-gray-800 mb-2" %>

          <!-- Language Selection Dropdown with Hover -->
          <div class="relative mt-2 w-full">
            <button class="text-gray-800 mb-2"> <%= t('menu.language') %> </button>
            <!-- Language dropdown menu, displayed on hover -->
            <ul class="absolute hidden right-0 mt-1 w-32 bg-gray-100 rounded-lg shadow-lg p-2 text-left group-hover:block">
              <% if I18n.locale != :en %>
                <li><%= link_to t('menu.english'), locale: :en, class: "block px-2 py-1 text-gray-800 hover:bg-gray-200 rounded-md" %></li>
              <% end %>
              <% if I18n.locale != :es %>
                <li><%= link_to t('menu.spanish'), locale: :es, class: "block px-2 py-1 text-gray-800 hover:bg-gray-200 rounded-md" %></li>
              <% end %>
              <% if I18n.locale != :gr %>
                <li><%= link_to t('menu.greek'), locale: :gr, class: "block px-2 py-1 text-gray-800 hover:bg-gray-200 rounded-md" %></li>
              <% end %>
            </ul>
          </div>

          <!-- Sign Out Button at the Bottom -->
          <hr class="w-full border-t border-gray-300 my-2">
          <%= link_to t('menu.sign_out'), destroy_user_session_path, class: "p-2 w-full rounded-lg bg-gray-500 text-gray-50" %>
        </div>
      </div>
    <% end %>
  </div>
</div>